# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Datasets and large generated artifacts
*.csv
SD/
maps/
transit_time_analysis_plots/
templates/ship_locations_map.html
